<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="seccion">
  <ion-row>
    <ion-grid>
      <ion-col size="12">
        <img src="/assets/itvh.png" alt="">
      </ion-col>
    </ion-grid>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-col size="12">
        <ion-list>
          
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" placeholder="@"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" placeholder="**********"></ion-input>
          </ion-item>

        </ion-list>
        <section>
          <ion-button expand="block" (click)="iniciarSesion()">Iniciar sesión</ion-button>
        </section>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>
