<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="seccion">
  <ion-row>
    <ion-grid>
      <ion-col size="12">
        <img src="/assets/itvh.png" alt="">
      </ion-col>
    </ion-grid>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-col size="12">
        <form #form="ngForm" (ngSubmit)="loginFirebase(form)">
        <ion-list>
          
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="email" placeholder="@" name="email" id="email" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" placeholder="**********" name="pwd" id="pwd" ngModel required></ion-input>
          </ion-item>

        </ion-list>
      
        <section>
          <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
        </section>
      </form>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>
